.App1{
    background-color: #af8f6f;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  
  .header-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .head1{
    color: yellow;
    font-size: 60px;
    margin:  0 20px 0 0;
    -webkit-text-stroke: 1px black; 
  
  }
  
  .image{
    width: 150px;
    margin-top: 20px;
  }
  
  .Start-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: rgb(14,11,11);
    background-color: rgb(231,235,100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .Home-button{
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 18px;
    font-size: 1.5rem;
    color: rgb(14,11,11);
    background-color: rgb(231,235,100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Start-button:hover{
    background-color: #dadd37be;
  }